:root {
  --text-header: "Raleway", sans-serif;
  --text-desc: "Open Sans", sans-serif;
  --color-accent: #ff6c00;
  --color-main: #ffffff;
  --color-middle: #9da4bd;
  --color-light: rgba(157, 164, 189, 0.6);
  --color-header: #303030;
  --color-desc: #555555;
  --background-second: #f7f7f7;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

body {
  font-family: var(--text-desc);
  font-weight: 400;
  font-size: 18px;
  color: var(--color-desc);
}

/* ========== COMPONENTS ========== */
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  display: block;
  text-decoration: none;
}

.button {
  padding: 12px 20px;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  border: 1px solid var(--color-accent);
  border-radius: 25px;
  cursor: pointer;
  background-color: transparent;
}

.btn-light {
  color: var(--color-main);
}

.btn-dark {
  color: var(--color-header);
}

.button:hover,
.button:focus {
  color: var(--color-main);
  background-color: var(--color-accent);
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
/* ========== END OMPONENTS ========== */

/* ========== HEADER ========== */

.header .container {
  display: flex;
  align-items: center;

  background-color: #15171ba6;
}

.nav {
  display: flex;
}

.logo {
  margin-top: 33px;
  margin-bottom: 33px;
  margin-right: 71px;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-item:not(:last-child) {
  margin-right: 40px;
}

.nav-link {
  padding-top: 30px;
  padding-bottom: 30px;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.1em;
  color: var(--color-main);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--color-accent);
}

.header-tel {
  margin-right: 40px;
  margin-left: auto;
  padding-top: 30px;
  padding-bottom: 30px;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--color-main);
}

.header-tel:hover,
.header-tel:focus {
  color: var(--color-accent);
}
/* ========== END HEADER ========== */

/* ========== HERO ========== */

.hero .container {
  display: flex;
  background-color: #15171ba6;
}

.hero-left {
  width: 100px;
  background-color: var(--background-second);
}

.hero-right {
  flex-grow: 1;
  padding-top: 152px;
  padding-bottom: 206px;
  padding-left: 100px;
}

.hero-item:not(:last-child) {
  margin-right: 40px;
}

.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.364;
  letter-spacing: 0.2em;
  color: var(--color-header);
}

.hero-link:hover,
.hero-link:focus {
  color: var(--color-accent);
}

.hero-subtitle {
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.364;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--color-light);
}

.hero-title {
  margin-bottom: 20px;

  font-family: Raleway;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.181;
  letter-spacing: 0.05em;
  color: var(--color-main);
}

.hero-desc {
  max-width: 420px;

  line-height: 1.667;
  letter-spacing: 0.02em;
  color: var(--color-middle);
}
/* ========== END HERO ========== */

/* ========== ABOUT ========== */
.about {
  padding-top: 130px;
  padding-bottom: 130px;
}

.about .container {
  display: flex;
}

.about-list {
  display: flex;
}

.about-item:not(:last-child) {
  margin-right: 30px;
}

.about-right {
  padding-right: 35px;
  padding-left: 64px;
}

.about-subtitle {
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.364;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--color-header);
}

.about-title {
  margin-bottom: 20px;

  font-family: Raleway;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.167;
  letter-spacing: 0.05em;
  color: var(--color-header);
}

.about-desc {
  margin-bottom: 20px;

  line-height: 1.667;
  letter-spacing: 0.02em;
  color: var(--color-desc);
}

.about-subdesc {
  margin-bottom: 40px;

  font-size: 14px;
  line-height: 1.857;
  letter-spacing: 0.02em;
  color: var(--color-desc);
}
/* ========== END ABOUT ========== */

/* ========== SERVICES ========== */
.services {
  background: #111319;
}

.services-subtitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.364;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--color-light);
}

.services-title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.167;
  letter-spacing: 0.05em;
  color: var(--color-main);
}

.serv-item {
  line-height: 1.667;
  letter-spacing: 0.02em;
  color: var(--color-middle);
}

/* ========== END SERVICES ========== */

/* ========== ADVANTAGES ========== */
.adv-number {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.357;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--color-header);
}

.adv-number-desc {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.364;
  text-align: center;
  color: var(--color-header);
}

.adv-subtitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.364;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--color-header);
}

.adv-title {
  font-family: Raleway;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.167;
  letter-spacing: 0.05em;
  color: var(--color-header);
}

.adv-desc {
  line-height: 1.667;
  letter-spacing: 0.02em;
  color: var(--color-desc);
}
/* ========== END ADVANTAGES ========== */

/* ========== MASTERS ========== */
.masters {
  background: #f7f7f7;
}

.masters-subtitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.364;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--color-header);
}

.masters-title {
  font-family: Raleway;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.167;
  letter-spacing: 0.05em;
  color: var(--color-header);
}

.masters-name {
  font-weight: inherit;
  line-height: 1.389;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-header);
}

.masters-job {
  font-size: 14px;
  line-height: 1.357;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-accent);
}
/* ========== END MASTERS  ========== */

/* ========== GALLERY  ========== */
.gallery-subtitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.364;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--color-header);
}
/* ========== END GALLERY  ========== */

/* ========== CONTACT FORM  ========== */
.contact-form {
  background-color: #191c26;
}

.form-title {
  font-family: Raleway;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.167;
  letter-spacing: 0.05em;
  color: var(--color-main);
}
/* ========== END CONTACT FORM  ========== */

/* ========== CONTACT INFORMATION  ========== */
.contact-info {
  background-color: #191c26;
}

.contact-info-title {
  font-family: Raleway;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.167;
  letter-spacing: 0.05em;
  color: var(--color-main);
}

.contact-info-address {
  font-style: normal;
}

.contact-address,
.contact-link {
  line-height: 1.667;
  letter-spacing: 0.02em;
  color: var(--color-middle);
}

.mail {
  text-decoration-line: underline;
}

.contact-link:hover,
.contact-link:focus {
  color: var(--color-accent);
}

.contact-time {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.364;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--color-main);
}

.time-desc {
  line-height: 1.667;
  letter-spacing: 0.02em;
  color: var(--color-middle);
}
/* ========== END CONTACT INFORMATION  ========== */

/* ========== FOOTER  ========== */
.footer-copy {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.364;
  letter-spacing: 0.2em;
  color: var(--color-middle);
}

.footer-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.364;
  letter-spacing: 0.2em;
  color: var(--color-header);
}

.footer-link:hover,
.footer-link:focus {
  color: var(--color-accent);
}
/* ========== END FOOTER  ========== */
